/* @tailwind base; */
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: iranSans;
  src: url(./fonts/FontsFree-Net-ir_sans.ttf);
}
* {
  padding: 0;
  margin: 0;
  outline: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: iranSans, system-ui, sans-serif;
}

html {
  direction: rtl;
}

@layer components {
  .text-primary {
    @apply flex items-center mb-4 w-full no-underline;
  }
  .application-name {
    @apply mr-4 text-[14px] text-[#3f3f3f];
  }
  .services-box {
    @apply flex flex-col w-[27%] max-w-[22vw] bg-white items-center rounded-3xl no-underline m-4 p-2;
  }
  .servicesBox-text {
    @apply text-[#3f3f3f] text-[14px] my-1;
  }
  .footer-navLink {
    @apply ml-4 my-2 no-underline text-pale-black text-[14px];
  }
  .socialMedia-icon {
    @apply mx-[0.2em] align-middle opacity-[0.7];
  }
  .register-box {
    @apply h-[260px] text-center flex flex-col items-center justify-center leading-[1.7] rounded-[18px] mt-6 p-6 bg-[#fff];
  }
  .radioButtonsStyle {
    @apply text-center rounded-[9px] mb-6 ml-6 py-2 px-4 bg-[#f5f5f6] text-[#545567] cursor-pointer whitespace-nowrap ;
  }
}
